*{
    margin: 0px auto;
}
@font-face {
    font-family:'fomel-fin';
    src: url(../founts/OpenSans-Regular.ttf);
}
header{
    display: flex;
}
nav a{
    text-align: center;
    margin: 40px 40px 150px 150px;
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-family:'fomel-fin' ;
}
.block{
    margin-left: 200px;
    margin-top: 60px;
    display: flex;
}
.block-1{
    margin-top: 250px;
    margin-left: 370px;
}
.block-2{
    margin-left: 370px;
    margin-top: 100px;
    font-family:'fomel-fin';
}
.block-2 h1{
    margin-top: 40px;
}
.line{
    margin-left: 200px;
    margin-top: 50px;
}
.block-3{
    margin-top: 200px;
    background: #D9D9D9;
    width: 564px;
    height: 75px;
    font-size: 30px;
}
.block-3 h1{
    margin-left: 140px;
    font-family:'fomel-fin' ;
    font-size: 24px;
    margin-top: 200px;
}
.nomer{
    width: 407px;
    height: 52px;
    background: #D9D9D9;
    border-radius: 10px;
    border: #D9D9D9;
    margin-left: 690px;
    margin-top: 89px    ;
}
.beer{
    width: 407px;
    height: 52px;
    background: #D9D9D9;
    border-radius: 10px;
    border: #D9D9D9;
    margin-left: 690px;
    margin-top: 29px    ; 
}
.bt-1{
    background:  #15a053;
    border:  #15a053;
    width: 100px;
    height: 40px;
    font-size: 22px;
    border-radius:  9px;
    box-sizing: border-box;
    transition: all 500ms ease;
    border: #15a053;
    color: #ffffff;
}
.bt-1:hover{
    background: rgba(0, 0, 0, 0);
    color: #15a053;
    box-shadow: inset 0 0 0 3px   ;
    transition: 0.3s;
}
.bt-2{
    background:  #15a053;
    border: #15a053;
    width: 205px;
    height: 40px;
    font-size: 22px;
    border-radius: 9px;
    box-sizing: border-box;
    transition: all 500ms ease;
    border: none;
    color: #ffffff;
}
.bt-2:hover{
    background: rgba(255, 255, 255, 0);
    color: #15a053;
    box-shadow: inset 0 0 0 3px #15a053;
    transition: 0.3s;
}
.volde{
    width: 407px;
    height: 240px;
    background: #D9D9D9;
    margin-left: 690px;
    margin-top: 29px;
    border-radius: 10px;
    border: #D9D9D9;
    color: #605E5E;
    font-family:'fomel-fin' ;

}
.click{
    width: 197px;
    height: 41px;
    margin-top: 30px;
    background: #D9D9D9;
    margin-left: 910px;
    border-radius: 10px;
    border: #D9D9D9;
    color: #605E5E;
    font-family:'fomel-fin' ;
}
.image-4{
    margin-top: 300px;
    margin-left: 200px;
}
.block a{
    display: inline-block;
    color: #0a0a0a; /* Цвет обычной ссылки */
    line-height: 1;
    text-decoration: none; /* Убираем подчеркивание */
    cursor: pointer;
  }
  .block a:after{
    background-color: #159e33; /* Цвет линии при наведении на нее курсора мыши */
    display: block;
    content: "";
    height: 2px; /* Высота линии */
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
  }
  .block a:hover:after,
  .block a:focus:after{
    width: 100%;
  }
.block-6 a{
    display: inline-block;
    color: #0a0a0a; /* Цвет обычной ссылки */
    line-height: 1;
    text-decoration: none; /* Убираем подчеркивание */
    cursor: pointer;
  }
  .block-6 a:after{
    background-color: #159e33; /* Цвет линии при наведении на нее курсора мыши */
    display: block;
    content: "";
    height: 2px; /* Высота линии */
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
  }
  .block-6 a:hover:after,
  .block-6 a:focus:after{
    width: 100%;
  }